# Created by venv; see https://docs.python.org/3/library/venv.html
*
/build_output
/Include
/Lib/site-packages
/main.build
/Scripts
/build.bat
/config.json
/monitor-1.png
/pyvenv.cfg
/requirements.txt